body {
            background-image: url("images/bgpic.png");
            background-size: cover;
            background-repeat: no-repeat;
            font-family: 'Poppins';
            background-attachment: fixed;
            background-position: center;
        }
        
.about{
  width: 100%;
  padding: 78px 0px; 
}
.about-text{
  

  position:absolute;
  width: 550px; 
  color: #fff;
  text-align: left;
  margin-left: -90px;
  margin-top: 25px;
}
.about-text h1, .about-text h4 {
  font-family: 'Poppins', sans-serif !important;
}
.about-text h4 {
  font-weight: 200;
}
main{
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-text h1{
  color: #fff;
  font-size: 80px;
  margin-top: 40px;
 margin-bottom: -20px;
}
.about-text h2{
  color: #96D27B;
  font-family: 'Gudea';
  font-weight: 400;   
  font-style: normal;
  margin-top: 10px;
}
.about-text h4{
  text-align: left;
  
  
}
.btn{
  border-style: solid !important;
  border-width: 2px !important;
    font-family: 'Poppins'; /* Ensure a fallback font like sans-serif */
    width: 200px;
    height: 60px;
    font-size: 10px;
    margin-top: 20px;

}

.btn{
  
  color: white !important; 
  border-style: solid !important;
  border-width: 2px !important;

}
  



.wifeypic{
height: 500px;
width: 300px;
margin-left: 860px;
border-radius: 15%;
margin-top: 100px;
  
  
}

.owner-text{
text-align: left;
color: #fff;
width: 300px;
font-weight: 400;
margin-left: 880px;
  
}

.wifeypic {
  max-width: 100%; /* Ensure the image resizes properly */
  height: auto;
}
/* Optional: Adjust font size responsiveness */
.owner-text h5 {
  font-size: calc(12px + 0.5vw); /* Example to adjust text size responsively */
}

nav {
  background-color: #379E18;
  height: 100px;
  font-family: 'Poppins', sans-serif !important;
  color: white;
}

.nav-link {
  color: white !important;
  background-color: #379E18 !important;
}

