@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

  
}
nav{
  background-color: transparent  ;
  height: 100px;
  font-family: 'Poppins', sans-serif !important;
  color: black  ;
}

.nav-link{
  color: black !important;
  background-color: transparent !important;
  
}
body{
    font-family: "Poppins", sans-serif;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-y:scroll !important  ;
}
nav{
    
    height: 100px;
    font-family: 'Poppins', sans-serif !important;
    color: black;
  }
  
  .nav-link{
    color: black !important;
    background-color: transparent !important;
  }
  
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 0px 0;
    background: white;
    white-space: nowrap;
    position: relative;
    margin-top: 2%;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
  }
  
  .logos-slide img {
    height: 100px; 
    padding: 0 50px;
  }

  .container{
    padding: 5% ;
    flex-direction: column;
  }

  .content-2{
    font-size:40pt;
    padding: 0px 0px;
    color: #96d27b;
  }

  .content-3{
    font-size: 15pt;
    text-align: left;
  }

  .content-4{
    text-align: left;
    font-size: 16pt;
    font-weight: 200;
  }

  .container-2{
    height: 80vh;
  }

  