@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
	
  --card-clr: #161922;
	--body-clr: #010101
	--primary-clr: #f0bf6a;
	--heading-clr: #dadada;
	--text-clr: #767a86;
  
}
nav{
  background-color: transparent  ;
  height: 100px;
  font-family: 'Poppins', sans-serif !important;
  color: black  ;
}

.nav-link{
  color: black !important;
  background-color: transparent !important;
  
}
body{
    font-family: "Poppins", sans-serif;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-y:scroll !important  ;
}
nav{
    
    height: 100px;
    font-family: 'Poppins', sans-serif !important;
    color: black;
  }
  
  .nav-link{
    color: black !important;
    background-color: transparent !important;
  }
  
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 0px 0;
    background: white;
    white-space: nowrap;
    position: relative;
    margin-top: 2%;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
  }
  
  .logos-slide img {
    height: 100px; 
    padding: 0 50px;
  }

  .container{
    padding: 5% 0% ;
    flex-direction: column;
  }

  .content-2{
    font-size:40pt;
    font-weight: 800;
    padding: 0px 0px;
    color: #96d27b;
  }

  .content-3{
    font-size: 15pt;
    text-align: left;
    font-weight: 500;
  }

  .content-4{
    text-align: left;
    font-size: 16pt;
    font-weight: 200;
  }

  .container-2{
    height: 80vh;
  }


  @media only screen and (min-width: 350px){
      .content-2{
        text-align: center;
        font-size: 30pt;
      }

      .content-3{
        text-align: center;
      }

      .content-4{
        text-align: center;
      }
  }

  .testimonials-section{
    width: 100%;
    padding: 0px 8%;
    background-color: var(--body-clr);
    font-family: "Poppins", sans-serif;
  }
  .testimonials-section .section-header{
    max-width: 700px;
    text-align: center;
    margin: 30px auto 40px;
  }
  .section-header h1{
    position: relative;
    font-size: 36px;
    color: var(--primary-clr);
  }
  .testimonials-container{
    position: relative;
  }
  .testimonials-container .testimonial-card{
    padding: 20px;
  }
  .testimonial-card .test-card-body{
    background-color: var(--card-clr);
    box-shadow: 2px 2px 20px rgba(0,0,0,0.12);
    padding: 20px;
  }
  .test-card-body .quote{
    display: flex;
    align-items: center;
  }
  .test-card-body .quote i{
    font-size: 45px;
    color: var(--heading-clr);
    margin-right: 20px;
  }
  .test-card-body .quote h2{
    color: var(--heading-clr);
  }
  .test-card-body p{
    margin: 10px 0px 15px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--text-clr);
  }
  .test-card-body .ratings{
    margin-top: 20px;
  }
  .test-card-body .ratings i{
    font-size: 17px;
    color: var(--primary-clr);
    cursor: pointer;
  }
  .testimonial-card .profile{
    display: flex;
    align-items: center;
    margin-top: 25px;
  }
  .profile .profile-image{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
  }
  .profile .profile-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
  .profile .profile-desc{
    display: flex;
    flex-direction: column;
  }
  .profile-desc span:nth-child(1){
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-clr);
  }
  .profile-desc span:nth-child(2){
    font-size: 15px;
    color: var(--text-clr);
  }
  .owl-nav{
    position: absolute;
    right: 20px;
    bottom: -10px;
  }
  .owl-nav button{
    border-radius: 50% !important;
  }
  .owl-nav .owl-prev i,
  .owl-nav .owl-next i{
    padding: 10px !important;
    border-radius: 50%;
    font-size: 18px !important;
    background-color: var(--card-clr) !important;
    color: var(--primary-clr);
    cursor: pointer;
    transition: 0.4s;
  }
  .owl-nav .owl-prev i:hover,
  .owl-nav .owl-next i:hover{
    background-color: var(--primary-clr) !important;
    color: #e9e9e9;
  }
  .owl-dots{
    margin-top: 15px;
  }
  .owl-dots .owl-dot span{
    background-color: #434753 !important;
    padding: 6px !important;
  }
  .owl-dot.active span{
    background-color: var(--primary-clr) !important;
  }

  