@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
nav{
  background-color: #fff;
  height: 100px;
  font-family: 'Poppins', sans-serif !important;
  color: #000;
  --card-clr: #161922;
	--body-clr: #010101
	--primary-clr: #f0bf6a;
	--heading-clr: #dadada;
	--text-clr: #767a86;
}


.nav-link{
  color: #000 !important;
  background-color: #fff !important;
}

body{
    font-family: "Poppins", sans-serif;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: #f0f0f0;
}
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 0px 0;
    background: white;
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
  }
  
  .logos-slide img {
    height: 100px; 
    padding: 0 50px;
  }

  .container{
    padding: 5% ;
    padding: 5% ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .content-2{
    font-size:40pt;
    padding: 0px 0px;
    color: #2a491d;
    font-weight: 700;
  }

  .content-3{
    font-size: 15pt;
    text-align: left;
    font-weight: 500pt;
    text-align: justify;
    color: black;
  }

  .content-4{
    text-align: left;
    font-size: 16pt;
    font-weight: 200;
    text-align: justify;
    font-size: 16pt;
    font-weight: 200;
    color: black;
  }


  .container-2{
    height: 70vh;
  }
  .card-body p{
    color: #2a491d;
  }
  .cards{
    border-radius: 20%;
  }
  .cards:hover{
      transform: translateY(-5px) ;
      transition: transform 0.7s ease;
      color: #5D3D2F;
      border: #5D3D2F solid 1.5px;
    }
    .cardsg:hover{
      transform: translateY(-5px) ;
      transition: transform 0.7s ease;
      color: #8C52FF;
      border: #8C52FF solid 1.5px;
    }
    .cardss:hover{
      transform: translateY(-5px) ;
      transition: transform 0.7s ease;
      color: #FA8072;
      border: #FA8072 solid 1.5px;
    }
    .cardsm:hover{
      transform: translateY(-5px) ;
      transition: transform 0.7s ease;
      color: #5DC63D;
      border: #5DC63D solid 1.5px;
    }
    .card img{
    padding: 30px;
    width: 400px; 
    height:auto;
    }

    @media only screen and (min-width: 350px){
      .content-2{
        text-align: center;
        font-size: 30pt;
        padding: 1;
      }

      .content-3{
        text-align: center;
        padding: 1;
      }

      .content-4{
        text-align: center;
        padding: 1;
      }
    }
    
h3,p{
      margin: 0 !important;
  }
  a:hover,a:focus{
      text-decoration: none !important;
      outline: none !important;
  }
  .testimonial{
      background-color: #161922;
      text-align: center;
      color: #F2EFE8;
      margin:50px 30px;
      padding: 30px 40px;
      border-radius:30px;
      position: relative;
      z-index: 1;
  }
  .testimonial:before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #424242;
      border-radius:30px;
      z-index: -1;
  }
  .testimonial:after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #003b00;
      border-radius:30px;
      transform:rotate(-7deg);
      z-index: -2;
  }
  .testimonial .pic{
      border: 5px solid #F2EFE8;
      display: inline-block;
      margin-bottom: 10px;
      width: 100px;
      height: 100px;
      border-radius: 50%;
  }
  .testimonial .pic img{
      width: 100%;
      height: 100%;
      border-radius: 50%;
  }
  .testimonial .testimonial-content{
      font-size: 15px;
      letter-spacing: 1px;
      line-height: 30px;
      margin-bottom: 20px;
  }
  .testimonial .testimonial-title a{
      display: inline-block;
      color: #FB8C00;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
  }
  .testimonial .testimonial-title small{
      color: #F2EFE8;
      font-size: 15px;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: capitalize;
  }
  .owl-theme .owl-controls{
      margin-top: 0px;
      margin-left: 10px;
      text-align: center;
  }
  .owl-theme .owl-controls .owl-buttons div{
      display: inline-block;
      opacity:1;
      background:#003b00;
      color: #F2EFE8;
      border-radius: 0;
      width: 40px;
      height: 40px;
      line-height: 40px;
      margin-right: 5px;
  }
  .owl-prev:before,
  .owl-next:before{
      content: "\f060";
      font-family: 'FontAwesome';
      font-size: 20px;
  }
  .owl-next:before{
      content: "\f061";
  }

  .fourth-page{
    background:#2a491d;
    background-size: cover;
    background-repeat: no-repeat;
  }
 
  @media only screen and (max-width: 1100px){
    .fourth-page{
      margin-top: 100vh;
    }
  }

  .home_text{
    color: #198754;
  }

  .landing{
    background-image: url("images/landing-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    position: relative;
    display: block;
    z-index: 2;
  }

  .sub-title__landing{
    line-height: 30px;
    margin-top: 80px;
    font-size: 30px;
    font-weight: 400;
    color: #7d8978;
    font-family: "Caveat", cursive;;
  }

  .main-title__landing{
    font-size: 80px;
    color: #2a491d;
    font-weight: 800;
    margin-top: 24px;
    margin-bottom: 39px;
  }

  .main-link__landing a{
    text-decoration: none;
  }

  .thm-btn{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    outline: none;
    background-color: #ffbd3c;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding: 9px 40px 11px;
    transition: all 0.5s linear;
    border-radius: 25px;
    overflow: hidden;
    z-index: 1;
  }

  .shop-btn__landing{
    background-color: #50a72c;
    margin-left: 10px;
  }
  
  .main-image__landing{
    position: absolute;
    top: 105px;
    right: 625px;
    transform: translateX(400px);
    z-index: 1;
  }

  @media only screen and (max-width: 1476px){
    .main-image__landing{
      display: none;
    }
  }

  .sub-title__container-2{
    font-family: "Caveat", cursive;
    font-weight: 400;
    color: #50a72c;
  }

  .main-title__container-2{
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-weight: 700;
    color:#2a491d;
  }

  @media only screen and (max-width: 480px){
     .sub-title__landing{
      margin-top: 150px;
      font-size: 25px;
     }

     .main-title__landing{
      font-size: 45px;
     }
  }

  @media only screen and (max-width: 360px){
    .shop-btn__landing{
      margin-top: 3%;
    }
  }